* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    font-size: "IRANyekan";
  }
  
  @font-face {
    font-family: "IRANyekan";
    src: url(./../font/Yekan.woff);
  }
  